#startText {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #57cc64;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1em;
	text-transform: uppercase;
}

h2 {
	font-size: 28px;
	letter-spacing: 0.2em;
}

#startBox {
	position: absolute;
	max-width: 1000px;
	width: 100%;
	height: 100px;
	left: 50%;
	margin-left:-500px;
	top: 50%;
	margin-top: -50px;
	text-align: center;
}

button#startPrompt {
	position: absolute;
	width: 180px;
	height: 50px;
	left: 50%;
	margin-left:-90px;
	top: 50%;
	margin-top: 50px;
	padding: 0;
	background-color: black;
	border: 2px solid black;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	
}

button:hover {
	box-shadow: inset 0 0 0 2px #57cc64;
}

button:focus {
	outline:0;
}

h2#startText {
	margin-top: 2px;
	font-weight: normal;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

img {
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}		

.hidden {

	display:none;


}

.show {

	display: inline;

}

.wrapper{
	text-align: center;
	margin-top: 200px;

}

.button{

	position: absolute;
	top:50%;


}